##################################################################################
# Aliases
alias k=kubectl

##################################################################################
# Basic Config Variables
export KUBECONFIG=.kube/config
export TALOSCONFIG=.talos/config

##################################################################################
# Pulumi Environment Variables
# - https://www.pulumi.com/docs/cli/environment-variables
export PULUMI_HOME=${PWD}/.pulumi
export PULUMI_SKIP_UPDATE_CHECK=true
export PULUMI_SKIP_CONFIRMATIONS=true
export PULUMI_AUTOMATION_API_SKIP_VERSION_CHECK=true

##################################################################################
# Optional Pulumi Environment Variables
# Useful for CI testing
# Uncomment to use local backend instead of Pulumi Cloud
#export PULUMI_BACKEND_URL=${PULUMI_BACKEND_URL:-file://${PWD}/.pulumi}
#export PULUMI_CONFIG_PASSPHRASE=${PULUMI_CONFIG_PASSPHRASE:-foobarbaz}
