export PULUMI_HOME=${PWD}/.pulumi
export PULUMI_SKIP_UPDATE_CHECK=true
export PULUMI_SKIP_CONFIRMATIONS=true
export KUBECONFIG=${PWD}/.kube/config
export TALOSCONFIG=${PWD}/.talos/manifest/talosconfig
