local
.kube
.talos

*.pyc
venv/
__pycache__/
pulumi/.pulumi

*.pyc
venv/
__pycache__/
.talos/manifest
.pulumi/plugins
.pulumi/*
Pulumi.*.yaml
.env
.devcontainer/docker
tmp.*
tmp
.ssh
tmp
/poetry.lock
