[pull]
        rebase = false
[alias]
    count = "ls-files --exclude-standard -- ':!:**/*.[pjs][npv]g' ':!:**/*.ai' ':!:.idea' ':!:**/*.eslintrc' ':!:package-lock.json' ':!:LICENSE'"
[core]
        excludesfile = /home/k/.gitignore
