export KUBECONFIG=./.kube/config
export TALOSCONFIG=talosconfig
##################################################################################
# Pulumi Environment Variables
# - https://www.pulumi.com/docs/cli/environment-variables
export PULUMI_HOME=${PULUMI_HOME}
export PULUMI_SKIP_UPDATE_CHECK=true
export PULUMI_SKIP_CONFIRMATIONS=true
export PULUMI_AUTOMATION_API_SKIP_VERSION_CHECK=true
export PULUMI_K8S_DELETE_UNREACHABLE=true
