# This GitHub Workflow will run on every push to the repository
# and will test the Kargo codebase on a Kind Kubernetes cluster.
name: CI - Kargo on Kind
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "Makefile"
      - "devcontainer/**"
      - ".devcontainer/**"
      - ".pulumi/**"
      - ".talos/**"
      - ".kube/**"
      - "docs/**"
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "Makefile"
      - "devcontainer/**"
      - ".devcontainer/**"
      - ".pulumi/**"
      - ".talos/**"
      - ".kube/**"
      - "docs/**"
      - "**.md"
  schedule:
    - cron: "0 2 * * *"

jobs:
  ci-kargo-kind:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/containercraft/konductor:latest
      options: --user runner --security-opt seccomp=unconfined

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        id: checkout
        with:
          fetch-depth: 1

      - name: Pulumi Login
        id: pulumi-login
        run: make login
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Kind Cluster
        id: create-kind-kubernetes
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACTIONS_STEP_DEBUG: false
          KUBECONFIG: .kube/config
          KINDCONFIG: ./hack/kind.yaml
        run: |
          direnv allow
          make kind-cluster

      #     - id: wait-kind-ready
      #       name: Wait for Kind Kubernetes API to be Ready
      #       env:
      #         PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
      #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #         ACTIONS_STEP_DEBUG: true
      #       run: make kind-ready

      - name: Deploy Pulumi Infrastructure
        id: deploy
        run: make pulumi-up
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      #     - name: Wait for All Pods to be Ready
      #       id: wait-all-pods
      #       run: make wait-all-pods
      #       env:
      #         PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
      #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Destroy Pulumi Infrastructure
        id: destroy
        run: make pulumi-down
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean Up Resources
        id: clean
        run: make clean
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Perform Extended Cleanup
        id: clean-all
        if: always()
        run: make clean-all
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
